# Supercontest stuff
private.py
private.conf
backups/
data/

# Mac stuff
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
*.egg-info/
*.egg

# Virtual environments
.venv
venv
.testenv
.jsenv
node_modules

# Test
.tox
.coverage

# Pycharm
.idea

# Ansible
.retry

# Other
*.swp
*.db-journal
