# Supercontest stuff
*.swp
instance/
gmail_password.py
*.db-journal

# Mac stuff
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
*.egg-info/
*.egg

# Virtual environments
venv
scenv

# Test
.tox
