bs4
dateutil
decorator
flask
flask-graphql
flask-mail
flask-migrate
flask-script
flask-sqlalchemy
flask-user
flask-wtf
graphene
graphene-sqlalchemy
plotly
psycopg2
requests
selenium
uwsgi
wtforms
xlrd
