bs4
decorator
flask
flask-debugtoolbar
flask-graphql
flask-mail
flask-migrate
flask_monitoringdashboard
flask-script
flask-sqlalchemy
flask-user
flask-wtf
graphene
graphene-sqlalchemy
plotly
psycopg2
python-dateutil
requests
selenium
uwsgi
wtforms
xlrd
