{% extends "settings_navs.html" %}

{% block settings_navs_content %}

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-5">
      <h3>Your input is wanted!</h3>
      <form action="/">
        <div class="form-group">
          <label for="myTextBox">How can we make the app better?</label>
          <input type="text" class="form-control" id="myTextBox" autofocus="autofocus">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/feedback.js') }}"></script>

{% endblock %}
