{% extends "settings_navs.html" %}

{% block settings_navs_content %}

<div class="row justify-content-center mt-3">
    <div class="col-sm-10 col-lg-6">
        <h3>Your input is wanted!</h3>
        <form action="/">
            <div class="form-group">
                <label for="myTextBox">How can we make the app better?</label>
                <input type="text" class="form-control" id="myTextBox" autofocus="autofocus">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/feedback.js') }}"></script>

{% endblock %}
