{% extends "settings_navs.html" %}

{% block settings_navs_content %}

{% block extra_css %}
{% endblock %}

{% block body %}

<div class="row justify-content-center my-3">
    <div class="col-sm-5 col-md-4 col-lg-3">
        <div id="main-div">
            {% block main %}
                {% block content %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>
</div>

{% block flash_messages %}
    {%- with messages = get_flashed_messages(with_categories=true) -%}
        {% if messages %}
            {% for category, message in messages %}
                {% if category=='error' %}
                    {% set category='danger' %}
                {% endif %}
                <div class="alert alert-{{category}}">{{ message|safe }}</div>
            {% endfor %}
        {% endif %}
    {%- endwith %}
{% endblock %}

{% endblock %}

{% block extra_js %}
{% endblock %}

{% endblock %}






