<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>South Bay Supercontest</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='notify/notify.min.js') }}"></script>
  </head>
  <body>
    <div id="header-div" class="clearfix with-margins">
      <div class="pull-left">
        <a href="/"><strong>{{ user_manager.USER_APP_NAME }}</strong></a>
        &nbsp;|&nbsp;
        <a class="centered width700" href="/leaderboard">leaderboard</a>
        {% if switch_link is defined %}
          &nbsp;|&nbsp;
          <a class="centered width700" href="{{ url_for(switch_link[0], week=week) }}">{{ switch_link[1] }}</a>
        {% endif %}
      </div>
      <div class="pull-right">
        <a href="{{ url_for('main.user_profile') }}" style="text-transform: lowercase;">{{ current_user.first_name or current_user.email }}</a>
        &nbsp;|&nbsp;
        <a href="{{ url_for('user.logout') }}">sign out</a>
      </div>
    </div>
    <hr class="no-margins"/>
    <div id="main-div" class="with-margins">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>