{% extends "main_navs.html" %}

{% block main_navs_content %}

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col">
      <div class="table-responsive"> 
        <table class="table table-sm table-bordered table-striped table-hover text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              {% for week in weeks %}
              <th scope="col">{{ week }}</th>
              {% endfor %}
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for user_id, total in totals %}
            <tr>
              <th scope="row">{{ loop.index }}</td>
              <td>{{ display_map[user_id] }}</td>
              {% for week in weeks %}
              <td class="weekScore">{{ results[user_id].get(week, 0.0) }}</td>
              {% endfor %}
    	      <th scope="row">{{ total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/leaderboard.js') }}"></script>

{% endblock %}
