{% extends "main_navs.html" %}

{% block main_navs_content %}

<div class="row justify-content-center mt-3">
    <div class="col-sm-12 col-lg-10">
        <div class="table-responsive"> 
            <table class="table table-sm table-bordered table-striped table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">User</th>
                        {% for week in range(1, 18) %}
                        <th scope="col">{{ week }}</th>
                        {% endfor %}
                        <th scope="col">Total</th>
                        <th scope="col">%</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_id, total in totals %}
                    {% if user_id == current_user.id %}
                    <tr style="border: 2px solid;">
                    {% else %}
                    <tr>
                    {% endif %}
                        <th scope="row">{{ loop.index }}</td>
                        <td>{{ display_map[user_id] }}</td>
                        {% for week in range(1, 18) %}
                        <td class="weekScore">{{ results[user_id].get(week, 0.0) }}</td>
                        {% endfor %}
                        <th scope="row">{{ total }}</td>
                        <th scope="row">{{ total/max_points*100 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>const colorWeek = {{ color_week }}</script>
<script src="{{ url_for('static', filename='js/leaderboard.js') }}"></script>

{% endblock %}
