{% extends "week_navs.html" %}

{% block week_navs_content %}

{% if message %}
<p class="text-center mt-3">{{ message|safe }}</p>
{% endif %}

<div class="row justify-content-center mt-3">
    <div class="col-lg-11">
        <div class="table-responsive" id="tableDiv">
            <table class="table table-sm table-bordered table-striped table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">User</th>
                        {% for matchup in sorted_matchups %}
                        <th scope="col">{{ team_abv_map[matchup.favored_team] }}</th>
                        <th scope="col">{{ team_abv_map[matchup.underdog_team] }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in sorted_picks %}
                    {% if data[0] == current_user.id and sorted_picks|length > 1 %}
                    <tr style="border: 2px solid;">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>{{ id_name_map[data[0]] }}</td>
                        {% for matchup in sorted_matchups %}
                        <td id={{ data[0]|string + matchup.favored_team }}></td>
                        <td id={{ data[0]|string + matchup.underdog_team }}></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>const sorted_picks = {{ sorted_picks|tojson }}</script>
<script>const statusMap = {{ status_map|safe }}</script>
<script>const pointsMap = {{ points_map|safe }}</script>
<script src="{{ url_for('static', filename='js/picks.js') }}"></script>

{% endblock %}
