{% extends "adspace.html" %}

{% block adspace_content %}

<div class="row justify-content-center">
    <ul class="nav nav-tabs">
        <div class="col text-center"><li class="nav-item">
            <a id="nav_home" class="nav-link" href="{{ url_for('main.home') }}">
                Home
            </a>
        </li></div>
        <div class="col text-center"><li class="nav-item">
            <a id="nav_rules" class="nav-link" href="{{ url_for('main.rules') }}">
                Rules
            </a>
        </li></div>
        <div class="col text-center"><li class="nav-item">
            <a id="nav_graphql" class="nav-link" href="{{ url_for('graphql') }}">
                API
            </a>
        </li></div>
        <div class="col text-center"><li class="nav-item">
            <a id="nav_feedback" class="nav-link" href="{{ url_for('main.feedback') }}">
                Feedback
            </a>
        </li></div>
        <div class="col text-center"><li class="nav-item">
            <a id="nav_profile" class="nav-link" href="{{ url_for('user.edit_user_profile') }}">
                Profile
            </a>
        </li></div>
        <div class="col text-center"><li class="nav-item">
            {% if call_or_get(current_user.is_authenticated) %}
                <a id="nav_logout" class="nav-link" href="{{ url_for('user.logout') }}">
                    Logout
                </a>
            {% else %}
                <a id="nav_login" class="nav-link" href="{{ url_for('user.login') }}">
                    Login
                </a>
            {% endif %}
        </li></div>
    </ul>
</div>

{% block settings_navs_content %}
{% endblock %}

{% endblock %}
