html {
  background: radial-gradient(white, grey) no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: auto;
  padding: 10px;
}

h1, table {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    padding: 5px 0 5px 0;
    border: 0 none;
    border-radius: 5px;
    background: linear-gradient(#333 0%, #444 100%);
    color: #FFF;
}

table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px;
}

th, td {
    border: 0 none;
    font-size: 13px;
    transition: all 0.3s;
}

th {  
    background: linear-gradient(#333 0%, #444 100%);
    color: #FFF;
    font-weight: bold;
    height: 40px;
}

td {  
    background: #FAFAFA;
    text-align: center;
    height: 30px;
}

tr:nth-child(even) td {
    background: #EEE;
}
tr:nth-child(odd) td {
    background: #FDFDFD;
}

tr td:hover {
    background: #666; color: #FFF;
}

tr:first-child th:first-child {
    border-radius: 5px 0 0 0;
}
tr:first-child th:last-child {
    border-radius: 0 5px 0 0;
}
