/* center-block and width style specification weren't working properly
with the table so I'm defining them here. */
.width700 {
    width: 700px;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}