/* Main table styling */
table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
}
td {
    text-align: center;
    border: 1px solid #CCC;
    padding: 5px 3px 5px 3px;
}
th {
    background: linear-gradient(#333 0%, #444 100%);
    color: #FFF;
    font-weight: bold;
    border: 1px solid #CCC;
    text-align: center;
    padding: 10px 4px 10px 4px;
}

/* Table row alternating shading */
tr:nth-child(even) td {
    background: #EEEEEE;
}
tr:nth-child(odd) td {
    background: #FAFAFA;
}

/* Table hover highlighting for team columns */
.highlighted {
    filter: brightness(60%);
}