{% extends "layout.html" %}

{% block content %}
<div class="dropdown">
  <button class="dropbtn">WEEK {{ week }}</button>
  <div class="dropdown-content">
    {% for available_week in available_weeks %}
    <a href="{{ url_for('main.home', week=available_week) }}">Week {{ available_week }}</a>
    {% endfor %}
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Time (pacific)</th>
      <th>Line</th>
      <th>Favorite</th>
      <th>Score</th>
      <th>Underdog</th>
      <th>Score</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for matchup in matchups %}
    <tr>
      <td id=datetime>{{ matchup.datetime }}</td>
      <td id=line>{{ matchup.line }}</td>
      {% if matchup.status == 'P' %}
      <td id=favored_team>
      {% elif (matchup.favored_team_score - matchup.underdog_team_score) > matchup.line %}
      <td style="background: palegreen" id=favored_team>
      {% elif (matchup.favored_team_score - matchup.underdog_team_score) == matchup.line %}
      <td style="background: khaki" id=favored_team>
      {% else %}
      <td style="background: lightcoral" id=favored_team>
      {% endif %}
        {% if matchup.home_team == matchup.favored_team %}
        {{ matchup.favored_team + '*' }}
        {% else %}
        {{ matchup.favored_team }}
        {% endif %}
      </td>
      <td id=favored_team_score>{{ matchup.favored_team_score }}</td>
      {% if matchup.status == 'P' %}
      <td id=underdog_team>
      {% elif (matchup.favored_team_score - matchup.underdog_team_score) < matchup.line %}
      <td style="background: palegreen" id=underdog_team>
      {% elif (matchup.favored_team_score - matchup.underdog_team_score) == matchup.line %}
      <td style="background: khaki" id=underdog_team>
      {% else %}
      <td style="background: lightcoral" id=underdog_team>
      {% endif %}
        {% if matchup.home_team == matchup.underdog_team %}
        {{ matchup.underdog_team + '*' }}
        {% else %}
        {{ matchup.underdog_team }}
        {% endif %}
      </td>
      <td id=underdog_team_score>{{ matchup.underdog_team_score }}</td>
      <td id=status>{{ matchup.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
