{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center my-1">
    {% for span in [(1, 7), (7, 13), (13, 18)] %}
      <div class="col-auto text-center">
        <div class="row justify-content-center">
          <ul class="nav nav-pills">
            {% for week in range(*span) %}
              <div class="col-auto text-center px-0"><li class="nav-item">
                <a id="week{{ week }}_nav" class="nav-link" href="{{ url_for(request.url_rule.endpoint, week=week) }}">{{ '%02d' % week }}</a>
              </li></div>
            {% endfor %}
        </div>
      </div>
    {% endfor %}
          </ul>
  </div>
  <hr class="m-0"/>
</div>

{% if message is defined %}
  <p class="text-center mt-3">{{ message|safe }}</p>
{% endif %}

{% block table %}
{% endblock %}

<script>
  const week = {{ g.week }};
  const available_weeks = {{ g.available_weeks }};
</script>
<script src="{{ url_for('static', filename='js/week_header.js') }}"></script>

{% endblock %}
